  @import url(../../../App.scss);

  .skills-zone{ 
    max-width: 1300px;
    margin: auto;  
    padding-top: 160px;
    background-color: var(--bg-color);
    clear: both;   
  }

  .skills-zone .section-title{ padding-bottom: 0px;  }

  .skills {  
    width: 98%;
    height: auto;
    margin: 50px auto; 
  }

  .frontEnd, .backEnd, .outros{
    height: auto;
  }

  .outros{ padding-bottom: 0px; }

  .skills h1 {  
    margin: 0px auto;
    font-size: 25px;
    color: var(--bg-color);
  }

  .CircularContainer, .CircularContainer2, .CircularContainer3 {
    width: 70%;
    background-color: var(--body2-color);
    border-radius: 20px;
    max-width: 1500px;
    padding-bottom: 50px;
    margin: 10px auto 50px auto;
    display: flex;    
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;  
  }

  .outros .CircularContainer{ padding-bottom: 80px; }

  .frontTeste{
    position: relative;
    background-color: var(--subtitle-color);
    width: 70%;
    height: auto;
    padding-bottom: 20px;
    margin: auto;    
    border-radius: 10px;    
    text-align: center;
  }
  
  .frontTeste:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  .frontTeste h1{    
    width: 90%;
    color: var(--bg-color);   
    text-align: left;
    padding-left: 5%;
    padding-right: 10%;
    font-weight: 600;
  }

  .hamburgerr, .hamburgerr2, .hamburgerr3 {
    width: 10%;
    height: 100% !important;   
    position: absolute;
    right: 5%;
    top: 90%;
    transform: translateY(-50%);     
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    color: var(--body-color);
  }

  .hamburgerr3 { top: 95%; }
  
  .barr, .barr2, .barr3{  
    display: block;
    width: 20px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: var(--bg-color);
  }

  .hamburgerr .barr:nth-child(1),  
  .hamburgerr2 .barr2:nth-child(1),
  .hamburgerr3 .barr3:nth-child(1){ transform: translateX(-11px) rotate(45deg); }

  .hamburgerr .barr:nth-child(2),
  .hamburgerr2 .barr2:nth-child(2),  
  .hamburgerr3 .barr3:nth-child(2){ transform: translateY(-10px) rotate(-45deg); }

  .hamburgerr.active .barr:nth-child(1),
  .hamburgerr2.active .barr2:nth-child(1),
  .hamburgerr3.active .barr3:nth-child(1){  transform: translateY(0px) rotate(45deg); }

  .hamburgerr.active .barr:nth-child(2),
  .hamburgerr2.active .barr2:nth-child(2),
  .hamburgerr3.active .barr3:nth-child(2){ transform: translateY(-10px) rotate(-45deg); }

  .circular{
    width: 120px;
    height: 70px;
    margin: 100px 20px;
    color: var(--body-color);
  }

  .circular h1{
    margin: 20px auto;
    padding-bottom: 90px;
    color: var(--subtitle-color);
  }

  .CircularProgressbar .CircularProgressbar-text { font-family: 'Lato'; }

/*===========================
       RESPONSIVE CSS 
===========================*/

  @media screen and (max-width: 768px) {
    .skills{ width: 90%; }

    .CircularContainer, .CircularContainer2, .CircularContainer3 { width: 90%;}
    
    .frontTeste { width: 90%;}
  }

  @media screen and (max-width: 290px) {
    .skills{ width: 98%; }

    .CircularContainer {
      width: 180px;
      margin-left: -21px;
    }
  }