@import url(../../../App.scss);

.projects-Home{
  background-color: var(--bg-color);
  color: var(--body-color);
  padding-top: 160px;
  width: 100%;
  padding-bottom: -120px;
  margin: auto;
} 

.projects-Home .container{
  max-width: 1300px; 
  display: block;
  margin: auto;
}

.classProject{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.classProject .w50{
  margin: 20px auto;
  flex: 0 0 33%;
  max-width: 33%;
}

.classProject .text-center{
  text-align: center!important;
}

.classProject .row{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.VamoLa{  
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;  
  flex-direction: row;
}

.single-project2 {
  width: 100%;
  position: relative;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.single-project2 .projectHome-image img {
  width: 100% !important; 
  border-radius: 10px;  
  height: 100% !important;
  border: 2px solid var(--subtitle-color);
}

.PlaceUP {
  width: 69%;
  height: auto;
  position: relative;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Goku{  
  position: relative;
  width: 30%;
}

.Instagram {
  position: relative;
  width: 100%;  
  margin-top: 31px;
}

.Pokedex{  width: 100%;  }

.container-projectHome{ margin: auto; }

.container-projectHome p{ color: var(--body-color);}

.classProject h2{
  color: var(--subtitle-color);
  margin: 10px auto;
  font-size: 36px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.title-project {
  font-weight: 700;
  font-size: 50px;
  color: var(--body-color);
  padding-bottom: 5px; 
}

.single-projectHome {
  width: 100%;
  position: relative;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.single-projectHome .projectHome-image img {
    width: 100% !important;
    height: auto; 
    border-radius: 10px;
    border: 2px solid var(--subtitle-color);
}

.single-projectHome .work-overlay,
.single-project2 .work-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;  
    border-radius: 10px;
    background-color: var(--subtitle-color);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; 
}

.single-projectHome .work-overlay .work-content,
.single-project2 .work-overlay .work-content{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;  
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); 
}

.single-projectHome .work-overlay .work-content .work-title,
.single-project2 .work-overlay .work-content .work-title{
    font-size: 22px;
    color: var(--bg-color);
    font-weight: 600;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    margin-bottom: 15px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    opacity: 0; 
}
    
.single-projectHome:hover .work-overlay,
.single-project2:hover .work-overlay {
    opacity: 1;
    visibility: visible; 
}

.single-projectHome:hover .work-overlay .work-content .work-title,
.single-project2:hover .work-overlay .work-content .work-title {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; 
}

/*===========================
       RESPONSIVE CSS 
===========================*/
   
@media only screen and (min-width: 768px) and (max-width: 991px) {   
    .projects-Home{
        padding-top: 90px;
        padding-bottom: 100px; 
    } 
}

@media only screen and (max-width: 1060px) {
    .classProject h2 { font-size: 27px;} 

    .single-project .projectHome-image img { width: 100% !important; }

    .single-project2 .projectHome-image img { width: 100% !important; }

    .PlaceUP {    
        flex: 0 0 32%;
        width: 32%;
        display: flex;  
        margin-left: 3px;  
    }

    .Goku{  
        flex: 0 0 66%;
        width: 66%;
        display: flex;  
    }

    .Instagram {
        flex: 0 0 48%;
        width: 100%;        
        margin-top: 0px;
    }

    .Pokedex{     
        flex: 0 0 50%;
        width: 100%;
        margin-left: 4px;
    }  
}

@media (max-width: 767px) {
    .title-project {font-size: 30px;} 

    .projects-Home{
        padding-top: 150px;
        padding-bottom: 80px; 
    } 

    .projects-Home .row{ display: block; }

    .projects-Home .w50{
        flex: 0 0 90%;
        max-width: 90%;
    }

    .PlaceUP {    
        flex: 0 0 90%;
        max-width: 90%;
        display: block;  
        margin: auto;
    }

    .Goku{  
        flex: 0 0 90%;
        max-width: 90%;
        display: block;      
        margin: auto;
    }   
    
    .Pokedex{ margin-left: 0px; }
}