.erro-shape { 
    position: absolute !important;   
    display: flex;
    color: var(--subtitle-color);
  }
  
  .erro-icon-one {
    top: 180px;  
    left: 75%;
    height: 15vmin;
    width: 15vmin;   
  }
  
  .erro-icon-two {
    height: 15vmin;
    width: 15vmin;   
    top: -80px;  
    left: 20%; 
  }
  
  .erro-icon-three {
    top: -100px;  
    left: 80%;
    height: 15vmin;
    width: 15vmin;   
  }
  
  .erro-icon-four {
    height: 15vmin;
    width: 15vmin;   
    top: -300px;  
    left: 60%;
  }
  
  .erro-icon-five {
    top: -380px;  
    left: 78%;
    height: 15vmin;
    width: 15vmin;   
  }
  
  .erro-icon-six {
    height: 15vmin;
    width: 15vmin;   
    bottom: 200px;  
    left: 8%;
  }
  
  .erro-icon-seven {
    top: 180px;  
    left: 12%;    
    height: 15vmin;
    width: 15vmin;   
  }
  
  .erro-icon-eight {
    height: 15vmin;
    width: 15vmin;   
    top: 250px;  
    left: 35%;
  }
  
  .erro-icon-nine {
    height: 15vmin;
    width: 15vmin;   
    top: 150px;  
    left: 55%;
  }
  
  .erro-icon-ten {    
    bottom: 270px;  
    left: 43%;
    height: 15vmin;
    width: 15vmin;   
  }
  
  .erro-icon-eleven {
    height: 15vmin;
    width: 15vmin;   
    bottom: 140px;  
    left: 28%; 
  }